<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PetSite-Rest-Client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 필터 설정 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>	
	<filter-mapping>	
		<filter-name>loginFilter</filter-name>
		<url-pattern>/membersC/*</url-pattern>		
	</filter-mapping>
</web-app>